// Navigation Styles here
.nav-head{
  display: flex;
  flex-wrap: wrap;
  margin: 3% auto;
  justify-content: space-between;
  
@media @phone{
  flex-direction: column;
}

  .div-head{
    width:20%;

    @media @phone{
      width:100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2%;
    }
}

nav {
  width:40%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media @phone{
    width:100%;
    justify-content: center;
    justify-content: space-around;
  }
}

nav a{
    font-size:1.6rem;
    text-decoration:none;
    color:black;
    font-weight: bold;
}
}

